NVIDIA_API_KEY=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
NVIDIA_EVO2_URL=https://health.api.nvidia.com/v1/biology/arc/evo2-40b/generate
FRONTEND_URLS=http://localhost:3000,https://your-project.vercel.app
REQUEST_TIMEOUT_SECONDS=60

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
uvicorn app:app --reload